@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0f0f0f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #959595;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #717171;
}

* {
  scroll-behavior: smooth !important;
  -webkit-scroll-behavior: smooth !important; /* other browsers */
}

/* Loader - Spinner */
.dot1,
.dot2,
.dot3 {
  position: relative;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.dot1 {
  animation-name: moving;
}
.dot2 {
  animation-name: moving2;
}
.dot3 {
  animation-name: moving3;
}

@keyframes moving {
  from {
    left: -20px;
    top: 0;
  }

  to {
    top: -20px;
    left: 20px;
  }
}

@keyframes moving2 {
  from {
    top: -40px;
  }

  to {
    top: 0;
  }
}

@keyframes moving3 {
  from {
    left: 20px;
    top: 0;
  }

  to {
    top: -20px;
    left: -20px;
  }
}

/* Home animation and About animation and TeckStack buttons animation */
.slide-in {
  transform: translateX(0);
  opacity: 1;
}

/* SocialMedia animation */
.social-hide > div {
  transform: scale(0);
}

.social-show > div {
  transform: scale(0.9);
}

/* TechStack animation */
.techBoxesRotate > div {
  transform: rotate(45deg);
  opacity: 0;
}

.techBoxes > div {
  transform: rotate(0);
  opacity: 1;
}
